@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
    text-decoration: none;
    list-style: none;
    font-family: "Montserrat";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html, body {
    width: 100%;
    height: 100%;

}

:root {
    --screen-nav-bar-height: 6vh;
    --phone-nav-bar-height: 9vh;
    --cornflower-blue: #6078EA;
    --screen-full-page: 94vh;
    --phone-full-page: 91vh;

}

.layout{
    min-height: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    /*display: grid;*/
    /*grid-template-rows: 1fr 1fr 1fr;*/
}

.content {
    /*min-height: 100vh;*/
    min-height: 100%;
    width: 100%;
    /*height: auto;*/
    /*overflow-x: hidden;*/
    /*overflow-y: hidden;*/
    /*margin-bottom: -50px;*/
}

#fp-nav{
    color: #fff;
  }

#fp-nav ul li a span {
    background: #acacac !important;
}



footer{
    /*float: bottom;*/
    bottom: 0;
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    background-color: #01778c;
    color: #fff;
    width: 100vw;
    z-index: 100000;
    height: 5vh;
    overflow: hidden;
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    margin:auto;
    padding-top: 5px;

}

/*.footer-wrapper{*/

    /*color: #fff;*/
    /*display:flex;*/
    /*flex-flow: row nowrap;*/
    /*justify-content: space-between;*/
    /*align-content: center;*/
    /*margin:auto;*/
    /*padding: 10px;*/
    /*padding-top: 1vh;*/
    /*padding-right: 2vw;*/
    /*margin: auto;*/

/*}*/

.footer-links-left{
    /*width: 20vw;*/
    /*max-width: 40vw;*/
    /*width: auto;*/
    width: auto;
    margin-right: 10vw;
    display: flex;
    justify-content: space-between;
    gap: 5vw;
    align-content: center;
    padding-left: 3vw;
}

.footer-links-right{
    /*font-size:1.5em;*/
    /*margin-right: 1vw;*/
    /*font-size: 1.5em;*/
    display: flex;
    flex-flow: row nowrap;
    width: 10vw;
    justify-content: space-between;
    padding-right: 3vw;
    /*gap: 3vw;*/
    align-content: center;
}

@media screen and (max-width: 900px){

    nav {
        height: var(--phone-nav-bar-height);
    }

    footer{
        /*justify-content: space-evenly;*/
        padding-top: 1vw;
        padding-left: 2vw;
        padding-right: 2vw;

    }

    .footer-links-left{
        width: auto;
        justify-content: space-between;
        /*gap:5vw;*/
    }

    .footer-links-right{
        /*font-size: 1.25em;*/
        /*padding-right: 2vw;*/
        width: 25vw;
        padding-right: 5vw;
    }


}

